<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/scripts::head}"></head>
<body class="account-body accountbg">
    <div th:replace="~{fragments/navigation::left-sidenave(${projects})}"></div>
    <div class="page-wrapper">
        <div th:replace="~{fragments/navigation::topbar}"></div>
        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid">
                <!-- Page-Breadcrumb -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row">
                                <div class="col">
                                    <h4 class="page-title">Projects</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a th:href="@{/projects}">Projects</a></li>
                                        <li class="breadcrumb-item"><a th:href="@{/projects/{id}(id=${project.id})}"
                                                                       th:text="${project.name}">Home</a></li>
                                    </ol>
                                </div><!--end col-->
                                <div class="col-auto align-self-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                        <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                        <span class="" id="Select_date">Jan 11</span>
                                        <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                                    </a>

                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h4 class="card-title">General Information</h4>
                                        <p class="text-muted mb-0">Project basic information.</p>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="link-primary float-end" style="font-size: 14px;font-weight: bold;"
                                           th:id="editGeneralInfo">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <form data-parsley-validate="" th:id="projectForm" th:object="${project}">
                                <div class="card-body">
                                    <input th:name="id" th:value="*{id}" type="hidden">
                                    <div class="mb-3">
                                        <label class="form-label">Project Name</label>
                                        <input aria-describedby="projectNameHelp" class="form-control" disabled
                                               placeholder="Enter project name" th:name="name"
                                               th:value="*{name}"
                                               type="text">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" th:for="*{description}">Description</label>
                                        <textarea class="form-control" disabled rows="5"
                                                  th:name="description" th:text="*{description}"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Status</label>
                                                <select class="form-select" disabled th:name="status">
                                                    <option value="">Choose One</option>
                                                    <option th:each="status : ${statuses}"
                                                            th:selected="(${status} == *{status})" th:text="${status}"
                                                            th:value="${status}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label">Artifact Management</label>
                                                <select class="form-select" disabled th:name="amt">
                                                    <option value="">Choose One</option>
                                                    <option th:each="amt : ${amts}"
                                                            th:selected="(${amt.id} == *{amt})" th:text="${amt.name}"
                                                            th:value="${amt.id}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer bg-light-alt m-0 clearfix">
                                    <button class="btn btn-secondary btn-sm float-end" disabled
                                            type="submit"><i class="mdi mdi-refresh me-2"></i>update
                                    </button>
                                    <button class="btn btn-danger btn-sm float-end me-1" disabled
                                            th:id="cancelGeneralInfoBtn"
                                            type="button"><i class="mdi mdi-refresh me-2"></i>cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h4 class="card-title">Current Snapshot</h4>
                                        <p class="text-muted mb-0" th:if="${project.amt}">Current release info</p>
                                        <p class="text-danger mb-0" th:unless="${project.amt}">You need an artifact
                                            manager</p>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="link-primary float-end" style="cursor: pointer;"
                                           th:id="editCurrentRelease" th:if="${project.amt}"><i class="far fa-edit"></i></a>
                                        <a class="link-danger float-end" style="cursor: pointer;"
                                           th:unless="${project.amt}"><i class="far fa-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                            <form data-parsley-validate="" th:id="currentReleaseForm">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <input th:name="id" th:value="${project.id}" type="hidden"/>
                                        <select class="form-select" disabled required th:if="${project.currentRelease}"
                                                th:name="currentRelease">
                                            <option value="">Choose One</option>
                                            <option th:each="release : ${project.releases}"
                                                    th:selected="(${release.id} eq ${project.currentRelease.id})"
                                                    th:text="${release.version}"
                                                    th:value="${release.id}"></option>
                                        </select>
                                        <select class="form-select" disabled required th:name="currentRelease"
                                                th:unless="${project.currentRelease}">
                                            <option value="">Choose One</option>
                                            <option th:each="release : ${project.releases}"
                                                    th:text="${release.version}"
                                                    th:value="${release.id}"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="card-footer bg-light-alt m-0 clearfix">
                                    <button class="btn btn-secondary btn-sm float-end" disabled
                                            th:id="editCurrentReleaseBtn"
                                            type="submit"><i class="mdi mdi-refresh me-2"></i>update
                                    </button>
                                    <button class="btn btn-danger btn-sm float-end me-1" disabled
                                            th:id="cancelCurrentReleaseBtn"
                                            type="button"><i class="mdi mdi-refresh me-2"></i>cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h4 class="card-title">Current Release</h4>
                                        <p class="text-muted mb-0" th:if="${project.amt}">Current release info</p>
                                        <p class="text-danger mb-0" th:unless="${project.amt}">You need an artifact
                                            manager</p>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="link-primary float-end" style="cursor: pointer;"
                                           th:id="editCurrentRelease" th:if="${project.amt}"><i class="far fa-edit"></i></a>
                                        <a class="link-danger float-end" style="cursor: pointer;"
                                           th:unless="${project.amt}"><i class="far fa-edit"></i></a>
                                    </div>
                                </div>
                            </div>
                            <form data-parsley-validate="" th:id="currentReleaseForm">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <input th:name="id" th:value="${project.id}" type="hidden"/>
                                        <select class="form-select" disabled required th:if="${project.currentRelease}"
                                                th:name="currentRelease">
                                            <option value="">Choose One</option>
                                            <option th:each="release : ${project.releases}"
                                                    th:selected="(${release.id} eq ${project.currentRelease.id})"
                                                    th:text="${release.version}"
                                                    th:value="${release.id}"></option>
                                        </select>
                                        <select class="form-select" disabled required th:name="currentRelease"
                                                th:unless="${project.currentRelease}">
                                            <option value="">Choose One</option>
                                            <option th:each="release : ${project.releases}"
                                                    th:text="${release.version}"
                                                    th:value="${release.id}"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="card-footer bg-light-alt m-0 clearfix">
                                    <button class="btn btn-secondary btn-sm float-end" disabled
                                            th:id="editCurrentReleaseBtn"
                                            type="submit"><i class="mdi mdi-refresh me-2"></i>update
                                    </button>
                                    <button class="btn btn-danger btn-sm float-end me-1" disabled
                                            th:id="cancelCurrentReleaseBtn"
                                            type="button"><i class="mdi mdi-refresh me-2"></i>cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card" style="min-height: 319px;">
                            <div class="card-header">
                                <div class="col-md-12">
                                    <h4 class="card-title">Available Releases</h4>
                                    <a class="text-primary mb-0" th:href="@{/releases}" th:if="${project.amt}">Available
                                        release </a>
                                    <p class="text-danger mb-0" th:unless="${project.amt}">You need an artifact
                                        manager</p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <label class="form-label col-md-11" for="projectCurrentRelease"></label>
                                    <div class="col-md-1">
                                        <a class="link-primary float-end me-2 ms-3" data-bs-target="#newrelease"
                                           data-bs-toggle="modal" role="button"
                                           style="cursor: pointer;" th:if="${project.amt}"><i
                                                class="far fa-plus-square"></i></a>
                                        <a class="link-danger float-end me-2 ms-3" style="cursor: pointer;"
                                           th:unless="${project.amt}">
                                            <i class="far fa-plus-square"></i>
                                        </a>
                                    </div>
                                </div>
                                <table class="table table-bordered dt-responsive nowrap" id="releases"
                                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                    <tr>
                                        <th>Version</th>
                                        <th>Date</th>
                                        <th>Artifacts(#)</th>
                                        <th style="width: 10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody th:if="${project.releases}">
                                    <tr th:each="release : ${project.releases}">
                                        <th><a th:href="@{/releases/{id}(id=${release.id})}"
                                               th:text="${release.version}"></a></th>
                                        <th><a th:href="@{/releases/{id}(id=${release.id})}"
                                               th:text="${release.date}"></a></th>
                                        <th th:if="${release.artifacts}"
                                            th:text="${#lists.size(release.artifacts)}"></th>
                                        <th th:unless="${release.artifacts}">0</th>
                                        <th class="align-content-center">
                                            <a class="link-primary ms-1 me-1"
                                               th:href="@{/releases/{id}(id=${release.id})}"><i class="far fa-edit"></i></a>

                                            <a class="link-danger" style="cursor: pointer"
                                               th:attr="onclick=|deleteRelease('${release.id}','${release.version}')|"><i
                                                    class="far fa-trash-alt"></i></a>
                                        </th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h4 class="card-title">Settings</h4>
                                        <p class="text-muted mb-0">Project specific settings </p>
                                    </div>
                                    <div class="col-md-1">
                                        <a class="link-primary float-end" style="cursor: pointer;">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <form>
                                <div class="card-body" style="min-height: 415px;"></div>
                                <div class="card-footer bg-light-alt m-0 clearfix">
                                    <button class="btn btn-secondary btn-sm float-end" disabled
                                            th:id="editCurrentReleaseBtn"
                                            type="submit"><i class="mdi mdi-refresh me-2"></i>update
                                    </button>
                                    <button class="btn btn-danger btn-sm float-end me-1" disabled
                                            th:id="cancelCurrentReleaseBtn"
                                            type="button"><i class="mdi mdi-refresh me-2"></i>cancel
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div><!-- container -->

            <footer th:replace="~{fragments/misc::footer}"></footer>
        </div>
        <!-- end page content -->
    </div>

    <span th:replace="~{/fragments/scripts::main}"/>
    <span th:replace="~{/fragments/scripts::datatables}"/>

    <!-- App js -->
    <script src="/static/js/jquery.core.js"></script>
    <script src="/static/js/app.js"></script>

    <script src="/static/plugins/repeater/jquery.repeater.min.js"></script>
    <script type="text/javascript">
        (function () {
            let ok = false
            $("#projectForm :input").prop("disabled", true);
            //  $("#currentReleaseForm :input").prop("disabled", true);
            $('#releases').DataTable({
                lengthMenu: [
                    [20, 40, -1],
                    [20, 50, 'All'],
                ],
                // searching: false
            });
            $('#releases_length').parent().parent().hide()

            $('#projectForm').parsley().on('field:validated', function () {
                var ok = $('.parsley-error').length === 0;
                console.log("i am working")
            }).on('form:submit', function (e) {
                submitForm("POST", "/projects/update-general-info", 'application/json', JSON.stringify(getFormData($("#projectForm"))))
                return false
            });
            $("#editGeneralInfo").on("click", function () {
                $(this).hide()
                $("#projectForm :input").prop("disabled", false);
            });
            $("#cancelGeneralInfoBtn").on("click", function () {
                $("#projectForm :input").prop("disabled", true);
                $("#editGeneralInfo").show()
            });

            $("#editCurrentRelease").on("click", function () {
                $(this).hide()
                $("#currentReleaseForm :input").prop("disabled", false);
            });
            $("#cancelCurrentReleaseBtn").on("click", function () {
                $("#currentReleaseForm :input").prop("disabled", true);
                $("#editCurrentRelease").show()
            });
            $('#currentReleaseForm').parsley().on('field:validated', function () {
                ok = $('.parsley-error').length === 0;
            }).on('form:submit', function (e) {
                console.log(ok)
                if (ok) {
                    submitForm("POST", "/releases/update-current-release", 'application/json',
                        JSON.stringify(getFormData($("#currentReleaseForm"))))
                }

                return false
            });
        })();

    </script>
    <div th:replace="~{/fragments/modals/release::new-release(${project})}"></div>
    <script th:replace="~{/fragments/modals/release::delete-release}"></script>
</body>
</html>