<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/scripts::head}"></head>
<body class="account-body accountbg">
<div th:replace="~{fragments/navigation::left-sidenave(${projects})}"></div>
<div class="page-wrapper">
    <div th:replace="~{fragments/navigation::topbar}"></div>
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">
            <!-- Page-Breadcrumb -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="row">
                            <div class="col">
                                <h4 class="page-title">Releases</h4>
                                <ol class="breadcrumb"></ol>
                            </div><!--end col-->
                            <div class="col-auto align-self-center">
                                <button class="btn btn-sm btn-outline-primary" data-bs-target="#newproject"
                                        data-bs-toggle="modal"> New Releases
                                </button>
                                <a class="btn btn-sm btn-outline-primary" href="#" id="Dash_Date">
                                    <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                    <span class="" id="Select_date">Jan 11</span>
                                    <i class="align-self-center icon-xs ms-1" data-feather="calendar"></i>
                                </a>

                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end page-title-box-->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-bordered dt-responsive nowrap" id="datatable"
                                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>Version</th>
                                    <th>Date</th>
                                    <th>Artifacts(#)</th>
                                    <th>Project</th>
                                    <th style="width: 5%;">Actions</th>
                                </tr>
                                </thead>
                                <tbody th:if="${releases}">
                                <tr th:each="release : ${releases}">
                                    <th>
                                        <a th:href="@{/releases/{id}(id=${release.id})}"
                                           th:text="${release.version}"></a>
                                    </th>
                                    <th th:text="${release.date}"></th>
                                    <th th:if="${release.artifacts}" th:text="${#lists.size(release.artifacts)}"></th>
                                    <th th:unless="${release.artifacts}">0</th>
                                    <th>
                                        <a th:href="@{/projects/{id}(id=${release.project.id})}"
                                           th:text="${release.project.name}"></a>
                                    </th>
                                    <th class="ps-3" style="width: 5%;">
                                        <a class="link-primary ms-1 me-1" th:href="@{/releases/{id}(id=${release.id})}">
                                            <i class="far fa-edit"></i>
                                        </a>
                                        <a class="link-danger" style="cursor: pointer"
                                           th:attr="onclick=|deleteRelease('${release.id}','${release.version}')|">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </th>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> <!-- end col -->
            </div>

        </div><!-- container -->

        <footer th:replace="~{fragments/misc::footer}"></footer>
    </div>
    <!-- end page content -->
</div>
<span th:replace="~{/fragments/scripts::main}"/>
<span th:replace="~{/fragments/scripts::datatables}"/>
<!-- App js -->
<script src="/static/js/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').DataTable({
            lengthMenu: [
                [20, 40, -1],
                [20, 50, 'All'],
            ],
        });
    });
</script>
<script th:replace="~{/fragments/modals/release::delete-release}"></script>
</body>
</html>