<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/scripts::head}"></head>
<body class="account-body accountbg">
    <div th:replace="~{fragments/navigation::left-sidenave(${projects})}"></div>
    <div class="page-wrapper">
        <div th:replace="~{fragments/navigation::topbar}"></div>
        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid" style="min-height: 80vh;height:auto !important;">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col">
                                    <h4 class="page-title">Settings</h4>
                                    <ol class="breadcrumb"></ol>
                                </div><!--end col-->
                                <div class="col-auto align-self-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary" id="Dash_Date">
                                        <span class="day-name" id="Day_Name">Today:</span>&nbsp;
                                        <span class="" id="Select_date">Jan 11</span>
                                        <i data-feather="calendar" class="align-self-center icon-xs ms-1"></i>
                                    </a>
                                    <a href="#" class="btn btn-sm btn-outline-primary">
                                        <i data-feather="download" class="align-self-center icon-xs"></i>
                                    </a>
                                </div><!--end col-->
                            </div>
                            <div class="row" style="min-height: 80vh;height:auto !important;">
                                <div class="col-lg-12">
                                    <div class="card" style="min-height: 85vh;height:auto !important;">
                                        <div class="card-body">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a aria-selected="true" class="nav-link active" data-bs-toggle="tab"
                                                       href="#general" role="tab">General</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#plugins"
                                                       role="tab">Plugins</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a aria-selected="false" class="nav-link" data-bs-toggle="tab" href="#settings"
                                                       role="tab">Settings</a>
                                                </li>
                                            </ul>

                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane p-3 active" id="general" role="tabpanel">
                                                    <p class="mb-0 text-muted">
                                                        Food truck fixie locavore, accusamus mcsweeney's
                                                        single-origin coffee squid.
                                                    </p>
                                                </div>
                                                <div class="tab-pane p-3" id="plugins" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="card">
                                                                <div class="card-header">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="card-title">
                                                                                Artifact Management
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <button aria-expanded="false"
                                                                                    class="btn  btn-sm btn-soft-primary
                                                                            btn-outline-dashed  dropdown-toggle float-end"
                                                                                    data-bs-toggle="dropdown"
                                                                                    type="button">
                                                                                New
                                                                                <i class="mdi mdi-chevron-down"></i>
                                                                            </button>
                                                                            <div class="dropdown-menu">
                                                                                <button class="dropdown-item"
                                                                                        data-bs-toggle="modal"
                                                                                        th:attr="data-bs-target=${amtplugin.modalId}"
                                                                                        th:each="amtplugin : ${amtplugins}"
                                                                                        th:text="${amtplugin.displayName}">
                                                                                    Action
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <table class="table table-bordered
                                                                    dt-responsive nowrap" id="amts" style="border-collapse: collapse;
                                                                    border-spacing: 0; width: 100%;">
                                                                        <thead>
                                                                        <tr>
                                                                            <th style="width: 20% !important;">ServiceName</th>
                                                                            <th style="width: 15%;!important;">Plugin name</th>
                                                                            <th style="width: 20%;!important;">Status</th>
                                                                            <th style="width: 20%;!important;">Repository</th>
                                                                            <th style="width: 20%;!important;">Snapshot</th>
                                                                            <th style="width: 5%;!important;">Actions</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody th:if="${amts}">
                                                                        <tr th:each="amt : ${amts}">
                                                                            <td><a th:text="${amt.name}"></a></td>
                                                                            <td th:text="${amt.plugin}">System
                                                                                Architect
                                                                            </td>
                                                                            <td class="text-capitalize"
                                                                                th:text="${amt.status}">Edinburgh
                                                                            </td>
                                                                            <td th:text="${amt.security.repository}"></td>
                                                                            <td th:text="${amt.security.snapshotRepository}"></td>
                                                                            <td>
                                                                                <a class="link-danger float-end"><i
                                                                                        class="far fa-trash-alt"></i></a>
                                                                                <a class="link-primary float-end me-2 ms-3"><i
                                                                                        class="far fa-edit"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="card">
                                                                <div class="card-header"></div>
                                                                <div class="card-body"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane p-3" id="settings" role="tabpanel">
                                                    <p class="text-muted mb-0">
                                                        Trust fund seitan letterpress, keytar raw denim keffiyeh etsy.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div><!--end row-->
                <!-- end page title end breadcrumb -->
            </div>

            <footer th:replace="~{fragments/misc::footer}"></footer>
        </div>
        <!-- end page content -->
    </div>
    <div th:each="amtplugin : ${amtplugins}">
        <span th:replace="~{/fragments/__${amtplugin.name}__::modal(${amtplugin})}"></span>
    </div>
    <span th:replace="~{/fragments/scripts::main}"/>
    <span th:replace="~{/fragments/scripts::datatables}"/>

    <!-- App js -->
    <script src="/static/js/jquery.core.js"></script>
    <script src="/static/js/app.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#amts').DataTable({
                lengthMenu: [
                    [5, -1],
                    [5, 'All'],
                ],
            });
        });
    </script>
</body>
</html>