<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="left-sidenav" th:fragment="left-sidenave(projects)" th:if="${security.attributes.roles}"
       th:with="roles=${#lists.toList(security.attributes.roles)}">
    <!-- LOGO -->
    <div class="brand">
      <a class="logo" th:href="@{/}">
        <span style="float: left; margin-left: 10px;"><img alt="logo-small" class="logo-sm"
                                                           src="/static/images/ninja-light.png"></span>
        <span style="float: left; margin-left: 5px; font-size: 20px; margin-top: 5px;">Release Ninja</span>
      </a>
    </div>
    <!--end logo-->
    <div class="menu-content h-100" data-simplebar>
      <ul class="metismenu left-sidenav-menu" th:if='${roles.get(0) eq "ADMIN"}'>
        <li class="menu-label mt-0">Administration</li>
        <li>
          <a th:href="@{/settings}"><i class="align-self-center menu-icon"
                                       data-feather="settings"></i><span>Settings</span></a>
        </li>
        <li><a class="nav-link" th:href="@{/projects}"><i class="align-self-center menu-icon"
                                                          data-feather="file-text"></i>Projects</a></li>
        <li><a class="nav-link" th:href="@{/releases}"><i class="align-self-center menu-icon"
                                                          data-feather="sliders"></i>Releases</a></li>
      </ul>
      <ul class="metismenu left-sidenav-menu" th:if='${roles.get(0) eq "CLIENT"}'>
        <li class="menu-label mt-0" >Project</li>
        <li>
          <a href="widgets.html"><i class="align-self-center menu-icon" data-feather="sliders"></i><span>Projects</span></a>
        </li>
      </ul>
      <ul class="metismenu left-sidenav-menu" th:if='${roles.get(0) eq "USER"}'>
        <li class="menu-label mt-0" >Project</li>
        <li>
          <a href="widgets.html"><i data-feather="layers" class="align-self-center menu-icon"></i><span>Projects</span></a>
        </li>
      </ul>
    </div>
</div>

  <div th:fragment="topbar" class="topbar">
    <nav class="navbar-custom">
      <ul class="list-unstyled topbar-nav float-end mb-0">
        <!-- search goes here -->

        <li th:replace="~{fragments/misc::notification}"></li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-bs-toggle="dropdown" href="#" role="button"
             aria-haspopup="false" aria-expanded="false">
            <span class="ms-1 nav-user-name hidden-sm" th:text="${security.name}">Nick</span>
            <img src="/static/images/users/user-5.jpg" alt="profile-user" class="rounded-circle thumb-xs" />
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" href="#"><i data-feather="user" class="align-self-center icon-xs icon-dual me-1"></i> Profile</a>
            <a class="dropdown-item" href="#"><i data-feather="settings" class="align-self-center icon-xs icon-dual me-1"></i> Settings</a>
            <div class="dropdown-divider mb-0"></div>
            <a class="dropdown-item" th:href="@{/logout}"><i data-feather="power" class="align-self-center icon-xs icon-dual me-1"></i> Logout</a>
          </div>
        </li>
      </ul>
      <ul class="list-unstyled topbar-nav mb-0">
        <li>
          <button class="nav-link button-menu-mobile">
            <i data-feather="menu" class="align-self-center topbar-icon"></i>
          </button>
        </li>
        <li class="creat-btn">
          <div class="nav-link">
            <a class=" btn btn-sm btn-soft-primary" href="#" role="button"><i class="fas fa-plus me-2"></i>New Task</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>